@media screen and (max-width: 600px) {
    .illustration {
        display: none;
    }
}

/* .contact-btn {
background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));
-webkit-background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));
-moz-background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));
} */