@media screen and (max-width: 600px) {
    .illustration {
        display: none;
    }
}

/* .contact-btn {
    background: linear-gradient(110deg, rgba(66, 144, 245, 1), rgba(255, 195, 113, 1));
    -webkit-background: linear-gradient(110deg, rgba(66, 144, 245, 1), rgba(255, 195, 113, 1));
    -moz-background: linear-gradient(110deg, rgba(66, 144, 245, 1), rgba(255, 195, 113, 1));
} */


img.contact-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}