.main-head {
    font-size: 65px;
    line-height: 1.1;
}

.home-main-section {
    height: 100vh;
}

.gradient-text {
    /* background: linear-gradient(to bottom right, #F5D585, #E5B95C, #D9A441); */
    /* background: linear-gradient(to bottom right, #7CC0C4, #548FBA, #3C84C7); */
    /* background: linear-gradient(to bottom right, #FDEE00, #ffae00, #ff7518); */
    background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));
    -webkit-background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));
    -moz-background: radial-gradient(circle, rgba(255, 235, 133, 1), rgba(245, 162, 117, 1));


    /* light → mid → dark */

    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* ---------- waving-hand animation ---------- */
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(14deg);
    }

    30% {
        transform: rotate(-8deg);
    }

    45% {
        transform: rotate(12deg);
    }

    60% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* base emoji style */
.wave-emoji {
    display: inline-block;
    transform-origin: 70% 70%;
    /* wrist pivot */
}

/* added by GSAP on header finish */
.animate-wave {
    animation: wave 1s ease-in-out 2 forwards;

    /* plays once, 2 s */
}


@media screen and (max-width: 600px) {


    .main-head {
        font-size: 33px;
        line-height: 1;
    }

    .mb-6 {
        margin-bottom: 1rem;
    }

    .mt-6 {
        margin-bottom: 1rem;
    }

    .leading-relaxed {
        line-height: 1.2;
    }

    .home-main-section {
        padding-top: 120px;
    }
}

/* .home-main-section {
    padding-top: 25px;
} */